*{
    margin: 0;
    padding: 0;
}
div{
    position: absolute;
    top: 0px;
    left: 0px;
}
#banner-img{
    width: 936px;
    height: 316px;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
}

#banner-img a img{
    width: 936px;
    height: 316px;
    border-top-right-radius: 10px;
}

#dots{
    position: relative;
    left: 820px;
    top: 293px;
}

.dot-active{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgba(7,17,27,.4);
}

.dot-native{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(7,17,27,.8);
    border: 2px solid rgba(255,255,255,.6);
}
.btn-ctrl{
    cursor: pointer;
    font-size: 36px;
    color: rgb(68, 54, 54);
    font-weight: 500;
}
#btn-prev{
    position: absolute;
    top:  135px;
    left:   0px;
}
#btn-next{
    position: absolute;
    top:  135px;
    left: 915px;
}